<%= form_with(model: [@article,comment], local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="form-group row">
    <%#= form.label :body, class:"offset-md-2 col-md-3 col-form-label text-right space-label-right" %>
    <%= form.text_area :body, id: :comment_body, class:"col-md-12 form-control" %>
  </div>

  <div class="form-group row">
    <div class="container text-right">
      <%= form.submit "Comentar", class:"btn btn-outline-success col-md-3" %>
  </div>
<% end %>
