<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <br>
      <div class="jumbotron space-a">
        <fieldset>
          <legend class="text-center space-title form-title">
            <%= "#{@article.title} Categoria" %>
            <%= render 'form', comment: @comment %>
          </legend>
        </fieldset>
      </div>
    </div>
  </div>
</div>
