<div class="container-fluid row offset-sm-12">
  <div class='jumbotron jumbotron2'>
    <h5 class="text-center">Iniciar Sesión</h5><br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control form-control2" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class:"form-control form-control2" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="form-check disabled">
      <%= f.check_box :remember_me, class:"form-check-input" %>
      <%= f.label "Recordarme" %>
    </div>
    <% end -%>

    <div class="form-group">
      <%= f.submit "Ingresar", class:'btn btn-info form-control2' %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>