<div class="col-12 col-sm-6 col-md-4 col-lg-3 article-salto">
  <div class="card h-100 article-container" >
    <div class="card-body card-body2">
        <%= image_tag article.img_art(:thumb), class:"card-img-top" %>
        <h3 class="card-title text-center">
            <%= link_to truncate(article.title, length:20), article, class:"no-color-link" %>
        </h3>
        <p>
          <%= truncate_html(article.body.html_safe, length:100) %>
        </p>
        <% temporal = "" %>
        <% article.categories.each do |category| %>
          <% temporal = "#{temporal} #{category.name}" %>
        <% end %>
        <p>
          <%= "Categoria(s): #{temporal}"  %>
        </p>
        <% if user_signed_in? %>
          <div class="text-center">
            <% if current_user.permission_level >= 1 %>
              <%= link_to  'Editar', edit_article_path(article), class:'btn btn-outline-warning' %>
            <% end %>
            <% if current_user.is_admin? %>
              <%= link_to "Eliminar", article, method: :delete, data: {confirm: 'Esta seguro que desea eliminar el article?'}, class:'btn btn-outline-danger' %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
