<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="jumbotro space-a">
        <fieldset>
          <legend class="text-center space-title form-title">
            <%= "#{title} articulo" %>
          </legend>
          <% if article.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(article.errors.count, "error") %> prohibited this category from being saved:</h2>
            <ul>
              <% article.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <%= form_with(model: article, local: true) do |form| %>
            <div class="form-group row">
              <%= form.label "Titulo:", class:"offset-md-2 col-md-3 col-form-label text-right space-label-right" %>
              <%= form.text_field :title, class:"col-md-4 form-control" %>
            </div>
            <div class="form-group row">
              <%= form.label "Banner:", class:"offset-md-2 col-md-3 col-form-label text-right space-label-right" %>
              <%= form.file_field :img_art, class:"col-md-4 form-control" %>
            </div>
            <%= form.trix_editor :body, as: :trix_editor %>
            <% Category.all.each do |category| %>
              <%= check_box_tag "categories[]", category.id %>
              <%= category.name %> <br>
            <% end %>
            <div class="form-group">
              <div class="container text-center">
                <%= form.submit "Aceptar", class:"btn btn-outline-success col-md-3" %>
                <%= link_to  "Cancelar", :back, class: "btn btn-outline-info col-md-3" %>
              </div>
            </div>
          <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>