<style type="text/css" media="screen">
  .jumbotron{
    padding-top: 10px !important;
  }
</style>

<div class="jumbotron table-responsive">
  <h1>Administrador</h1>
  <%= link_to  "Cambiar vista", articles_path(cambiar:true), class:"btn btn-info" %>
  <table class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr class="table-primary">
          <th>#</th>
          <th>Título</th>
          <th>Fecha de creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @articulos.each do |art| %>
        <tr>
          <td>
            <%= art.id %>
          </td>
          <td>
            <%= art.title %>
          </td>
          <td>
            <%= art.created_at.strftime("%d/%m/%Y %H:%M") %>
          </td>
          <td>
            <%= link_to "Ver", art, class:"btn btn-outline-info" %>
            <%= link_to "Editar", edit_article_path(art), class:"btn btn-outline-warning" %>
            <%= link_to "Eliminar", art, method: :delete, data:{confirm:"Desea eliminar?"}, class:"btn btn-outline-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </table>

  <div class="flickr_pagination" style="margin-top: 20px; margin-bottom: 20px;">
    <%= will_paginate @articulos %>
  </div>

</div>

