<% @default_title = "Indice de Articulos" %>

<!-- <h2><%= link_to  "Nuevo Artículo", new_article_path, class:"btn btn-success" %></h2> -->

<div class="container-fluid">
    <div class="row justify-content-center">
        <%= render @articulos %>
      </div>      
</div>

<div class="flickr_pagination" style="margin-top: 20px; margin-bottom: 20px;">
  <%= will_paginate @articulos %>
</div>