
<div class="jumbotron">
  <% if !@articles.blank? %>
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Artículo</th>
          <th scope="col" class="text-center">Descripción</th>
          <th scope="col">Opción</th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |art| %>
          <tr class="table-primary">
            <th scope="row"><%= link_to art.title, art, class:"no-color-link" %></th>
            <td><%= truncate_html(art.body, length:100) %></td>
            <td><%= link_to "Ver más", art, class:"btn btn-info" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center">El buscador no encontró ninguna coincidencia para <%= "'#{params[:titulo]}'" %>. Intenta nuevamente.</p>
  <% end %>
</div>