<% @default_title = 'Visualización' %>

 <%#= @article.inspect %>


  <div class='jumbotron'>

    <div class="row">
      <div class="col-md-6 offset-md-3 col-12">
        <div class="text-center">
          <%= image_tag @article.img_art :thumb %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3 col-12">
        <h1 class="text-center">
          <%= @article.title %>
        </h1>
        <% if !@article.user.nil? %>
          <br>
          <p class="text-center">
            Creado por: <strong><%= @article.user.email %></strong>
          </p>
        <% end %>
        <div class="text-center">
          <% @article.categories.each do |category| %>
            <span class="badge badge-primary">
              <%= link_to category.name, category, class:'no-color-link', style:'color:#fff; font-size:14px;' %>
            </span>
          <% end %>
        </div>
        <br>
        <div class="article-html">
          <%= @article.body.html_safe %>
          <% if user_signed_in? %>
            <%= render 'comments/form', comment: @comment  %>
          <% end %>
        </div>
        <h4 style="margin-top: 25px;"><ins>Comentarios</ins></h4>
        <ul style="background:none; margin-top:0px;">
          <% @article.comments.each do |comment| %>
            <li>
              <div class="row justify-content-between align-items-center">
                  <div class="col-md-6" style="font-size: 12px;">
                    <%= comment.user.email %>: <%= comment.body %>
                  </div>
                  <% if user_signed_in? && current_user == comment.user %>
                    <div class="col-4 align-self-end">
                      <%= link_to "Editar", edit_article_comment_url(@article,comment), class:'btn btn-warning', style:"font-size: 12px !important;" %>
                      <%= link_to "Eliminar", [@article,comment], method: :delete, data:{confirm: "Estas seguro?"}, class:'btn btn-danger', style:"font-size: 12px !important;" %>
                    </div>
                    <% end %>
                </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>