<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-bottom: 2px; padding-top: 1px;">
  <a class="navbar-brand" href="#">Mi Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to  "Inicio", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contacto", new_contact_path, class:"nav-link" %>
      </li>
      <% if user_signed_in? %>
        <%= link_to  "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"nav-link" %>
      <% else %>
        <%= link_to "Iniciar Sesión", new_user_session_path, class:"nav-link" %>
        <%= link_to "Registrarse", new_user_registration_path, class:"nav-link" %>
      <% end %>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <%= form_tag articles_search_path, :method => 'get', class:"form-inline my-2 my-lg-0" do %>
        <%= text_field_tag :titulo, params[:titulo], class:"form-control form-control-a my-sm-0", placeholder:"Busqueda" %>
        <%= submit_tag "Buscar", :name => nil, class:"btn btn-secondary my-2 my-sm-0 btn-a text-center" %>
    <% end %>
  </div>
</nav>