<% if user_signed_in? %>
  <% if current_user.permission_level >= 1 %>
    <div class="list-group w-100">
      <%= link_to "Administración", root_path, class: "list-group-item list-group-item-action active" %>
      <%= link_to "Ver artículo", articles_path, class:"list-group-item list-group-item-action" %>
      <%= link_to "Crear artículo", new_article_path, class:"list-group-item list-group-item-action" %>
      <%= link_to "Ver categoría", categories_path, class:"list-group-item list-group-item-action" %>
      <%= link_to "Crear categoría", new_category_path, class:"list-group-item list-group-item-action" %>
    </div>
  <% end %>
<% end %>

<div class="list-group">
    <%= link_to "Categorias", categories_path, class: "list-group-item list-group-item-action active" %>
    <% @categorias.each do |categoria| %>
      <%= link_to  "#{categoria.name}", categoria, class:"list-group-item list-group-item-action" %>
    <% end %>
</div>