/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 *= require trix 
 *= require_tree .
 *= require_self
 */

$title: #000;
$fondo: #faf9f9;
$color-a: #faf9f9;
$color-b: #add2c9;
$color-c: #5ea3a3;
$color-d: #488b8f;

$colors:(
  jumbotron:rgba(227, 224, 255, 0.534),
  title:$title,
  fondo:$fondo,
  color-a:$color-a,
  color-b:$color-b,
  color-c:$color-c,
  color-d:$color-d
);

@each $color_name, $color in $colors{
  .#{$color-name}{
    background-color: $color !important;
  }
  .#{color-name}-text{
    color: $color !important;
  }
}


body{
  background-color: $fondo ;
}

.no-color-link {
  color:inherit !important;
  text-decoration: none !important;
 }

nav{
  margin-bottom: 10px;
}

.nav-link{
  color: white !important;
}

.list-group{
  margin-bottom: 10px;
}

.space-a{
  margin-top: 15px !important;
}

.space-title{
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}

.space-label-right{
  padding-right: 30px !important;
}

.form-title{
  font-style: bold;
}

.col-form-label{
  font-style: italic !important;
  font-size: 18px !important;
}

.categories-show{
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-title{
  font-size: 28px !important;
}

.search-title:hover{
  font-size: 30px !important;
}

.search-jumbotron{
  margin-left: 1px !important;
  margin-right: 1px !important;
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}

.search-style{
  background: white;
  margin: 1px;

}

.search-background:hover{
  background-color: #add2c9 !important;
}

.form-control2 {
  font-size: 0.8em !important;
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.jumbotron2 {
  width: 30% !important;
  padding: 4% !important;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

// .btn{
//   margin-bottom: 10px !important;
// }

.article-html{
  pre{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    background: #9a9a9a !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: bold !important;
    font-style: italic !important;
    font-size: 18px;
  }
  a{
    font-size: 24px;
  }
  ul{
    background: silver;
    padding-bottom: 5px;
    padding-top: 5px;
    li{
      list-style: square;
    }
  }
}

.article-salto{
  margin-bottom: 20px;
}

.jumbotron{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin-bottom: 10px !important;
}

.card-body2{
  background:rgba(227, 224, 255, 0.534) !important;
}

.row-center{
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

.btn-a{
  margin-left: 5px !important;
  font-size: 12px !important;
  height: 25px !important;
  padding-top: 4px !important;
}

.form-control-a{
  height: 25px !important;
  font-size: 12px !important;
}

.pagination{
  justify-content: center;
}

.flickr_pagination{
  justify-content: center;
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.flickr_pagination a, .flickr_pagination span, .flickr_pagination em{
  padding: 0.2em 0.5em;
}

.flickr_pagination .disabled{
  color: #aaaaaa;
}

.flickr_pagination .current{
  font-style: normal;
  font-weight: bold;
  color: #0063dc;
}

.flickr_pagination a{
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}

.flickr_pagination a:hover, .flickr_pagination a:focus{
  border-color: #003366;
  background: #0063dc;
  color: white;
}

.flickr_pagination .page_info{
  color: #aaaaaa;
  padding-top: 0.8em;
}

.flickr_pagination .previous_page, .flickr_pagination .next_page{
  border-width: 2px;
}

.flickr_pagination .previous_page{
  margin-right: 1em;
}

.flickr_pagination .next_page{
  margin-left: 1em;
}


