<style type="text/css" media="screen">
  <%=".#{category.name.delete(' ')}"%> {
    margin-top: 0px;
    margin-bottom: 20px;
    background: <%="#{category.color}"%> !important;
  }
</style>

<%= link_to category, class:"no-color-link" do %>
<div class="col-md-4">
  <div class="card <%= " #{category.name.delete(' ')}" %>">
      <div class="card-body">
        <div class="text-center">
          <%= image_tag category.cat_img(:medium) %>
        </div>
          <em>
            <h2 class="card-title text-center"><%= link_to category.name, category, class:"no-color-link" %></h2>
          </em>
          <p>
              <%= "Contiene #{category.articles.count} artículo(s)" %>
          </p>
          <p>
              <%= "Creado el #{category.created_at.strftime("%d/%m/%Y %H:%M")}" %>
          </p>
          <% if user_signed_in? %>
            <% if current_user.is_admin? || current_user.is_editor? %>
              <div class="text-center">
                <%= link_to  'Editar', edit_category_path(category), class:'btn btn-outline-warning' %>
                <%= link_to 'Eliminar', category, method: :delete, data: {confirm: 'Esta seguro que desea eliminar el articulo?'}, class:'btn btn-outline-danger' %>
              </div>
            <% end %>
          <% end %>
      </div>
  </div>
</div>
<% end %>