<style type="text/css" media="screen">
  .jumbotron{
    padding-top: 10px !important;
  }
</style>

<div class="jumbotron table-responsive">
  <h1>Administrador</h1>
  <%= link_to  "Cambiar vista", categories_path(cambiar:true), class:"btn btn-info" %>
  <table class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr class="table-primary">
          <th>Nombre</th>
          <th>Fecha de creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |cat| %>
        <tr>
          <td>
            <%= cat.name %>
          </td>
          <td>
            <%= cat.created_at.strftime("%d/%m/%Y %H:%M") %>
          </td>
          <td>
            <%= link_to "Ver", cat, class:"btn btn-outline-info" %>
            <%= link_to "Editar", edit_category_path(cat), class:"btn btn-outline-warning" %>
            <%= link_to "Eliminar", cat, method: :delete, data:{confirm:"Desea eliminar?"}, class:"btn btn-outline-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </table>
</div>