<div class="container-fluid row offset-sm-12">
  <div class='jumbotron jumbotron2'>
    <h5 class="text-center">Registrarse</h5><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control form-control2" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "nuevo-password", placeholder:"Password", class:"form-control form-control2" %>
      <% if @minimum_password_length %>
      <small class="form-text text-muted">(
        <%= @minimum_password_length %> caractéres minimo)</small>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "nuevo-password", placeholder:"Confirma Password", class:"form-control form-control2" %>
    </div>

    <div class="form-group">
      <%= f.submit "Registrarse", class:"btn btn-info form-control2" %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>